<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Shared reductions</title>

    <link rel="stylesheet" href="{{pkg.version}}/style.css" type="text/css">

    <link rel="alternate" type="application/json+oembed"
      href="//cloudfront-files-1.publicintegrity.org/apps/2017/03/shared-reductions/oembed.json"
      title="Shared reductions" />

    <script>
      (function(d) {
        var config = {
          kitId: 'wnz3ozp',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

</head>
<body>

    <div class="preview">

        <div class="chatter">

            <h1>Trump wants to cut scores of government programs. Here are 17 Obama also wanted to cut.</h1>

            <p>There’s little doubt from the budget offered last month that Donald Trump wants to take the government in some radically different directions than that of his predecessor in the Oval Office, Barack Obama. Trump’s <a href="https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/budget/fy2018/2018_blueprint.pdf">initial blueprint for fiscal year 2018</a> calls for massive increases in military spending and immigration enforcement, along with hefty reductions in foreign aid, environmental protection and a grab bag of social programs.</p>

            <p>But beyond the headlines, deep in the agate type of their respective budget proposals, are areas in which the two Presidents of wildly differing ideologies actually agree — to a point. A Center of Public Integrity review found some TK programs that both chief executives targeted for trims in the last two budget go-rounds, albeit often to different degrees. More such programs may emerge when Trump presents a more detailed budget plan in May.</p>

            <p>No doubt some would argue that the programs highlighted here must have problems if both Trump and Obama are calling for cuts. But these line items also demonstrate how difficult it is to cut anything in Washington, as every initiative has some constituency of its own, a constituency certain to howl at the prospect of less money, never mind outright elimination. For some programs the mere fact they still exist is evidence of that, as Trump would hardly be calling for elimination now if Obama had succeeded last year in zeroing them out.</p>

            <p>Behind these numbers is also evidence that crafting a budget at all has become a herculean task in the nation’s capital. Our comparisons below start with Obama’s <a href="https://obamawhitehouse.archives.gov/sites/default/files/omb/budget/fy2017/assets/ccs.pdf">proposals for fiscal year 2017</a>, but virtually none of these were ever enacted because almost no appropriations bills were completed. Instead, a series of continuing resolutions has essentially frozen most 2016 budget levels in place.</p>

            <p>But even as an academic exercise, it’s illuminating to see which programs neither Trump nor Obama was apparently an unabashed fan of. So here they are:</p>

        </div>

        <div id="sharedReductions"></div>

    </div>

    <script src="embed.js" type="text/javascript"></script>

</body>
</html>
