@import (inline) "site.css";

.preview {
    max-width: 1280px;
    // max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .chatter {
        font-family: "ff-tisa-web-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 28px;
        font-size: 18px;
        padding-left: 250px;
        padding-right: 410px;
    }
}

html {
    height: auto;
}

.sharedReductions {
    .note {
        font-size: 14px;
        line-height: 17px;
        color: rgb(150,150,150);

        a {
            color: rgb(150,150,150);
        }
    }

    .source {
        font-size: 13px;
        line-height: 16px;
        color: rgb(150,150,150);
        padding: 2px;
        white-space: nowrap;

        a {
            color: rgb(150,150,150);
        }
    }

	.item {
        // text-align: center;
        border: 1px solid rgb(220,220,220);
        padding: 25px;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .hed, .cutStatus {
        font-size: 30px;
        line-height: 32px;
        padding-bottom: 4px;
    }

    .agency, .cutLabel {
        color: rgb(130,130,130);
        font-size: 13px;
        line-height: 17px;
        text-transform: uppercase;
    }

    .description, .cutReason {
        font-size: 16px;
        line-height: 20px;
        // padding-right: 15%;
        // border: 1px solid rgb(220,220,220);
        // padding: 15px;
        // border-radius: 3px;
        // margin-top: 10px;
    }

    .description {
        font-size: 15px;
        line-height: 19px;
        color: rgb(100,100,100);
        padding-bottom: 10px;
    }

    .cutContainers:after {
        content: "";
        display: table;
        clear: both;
    }

    .cutContainer {
        // text-align: center;
        float: left;
        width: 31%;
        padding-right: 8%;
        // padding-left: 3%;
        //border-right: 1px solid rgb(200,200,200);
    }

    .cutStatus.eliminate {
        color: red;
    }

    .cutStatus.cut {
        color: #FF7A0B;
    }
/*
    .cutContainer.eliminate {
        background-color: red;
    }

    .cutContainer.cut {
        background-color: orange;
    }*/

}

@media (max-width: 800px) {
    .sharedReductions {
        .item {
            padding: 10px;
        }

        .description, .cutReason {
            font-size: 15px;
            line-height: 18px;
        }

        .cutContainer {
            float: none;
            width: 100%;
            padding-right: 2%;
            padding-bottom: 20px;
        }

        .cutReason {
            margin-bottom: 0;
        }

        .hed, .cutStatus {
            font-size: 25px;
            line-height: 28px;
        }

    }
}

@media (max-width: 500px) {
    .preview {
        max-width: 300px;

        .chatter {
            padding-left: 0;
            padding-right: 0;
        }

    }

    .sharedReductions {

    }
}
