@import (inline) "site.css";

.preview {
    max-width: 1260px;
    // max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

html {
    height: auto;
}

.sharedReductions {
	
}

@media (max-width: 800px) {
    .sharedReductions {

    }
}

@media (max-width: 500px) {
    .sharedReductions {

    }
}
